<div class="notification" [class.visible]="showNotification$ | async">
  <span>There's new data available. Click to reload the data.</span>
  <button mat-raised-button color="accent" (click)="update$.next()">
    <div class="flex-row">
      <mat-icon>cached</mat-icon>
      UPDATE
    </div>
  </button>
</div>
<main>
  <button class="reload-button" (click)="forceReload()" mat-raised-button color="accent" >
    <div class="flex-row">
      <mat-icon>cached</mat-icon>
      FETCH NEW JOKES
    </div>
  </button>
  <mat-card *ngFor="let joke of (jokes$ | async)">
    <div class="joke-content flex">
      <span class="vote">1</span>
      <span class="stretch" [innerHTML]="joke.joke"></span>
      <button mat-icon-button>
        <mat-icon class="heart" aria-label="Like">favorite</mat-icon>
      </button>
    </div>
  </mat-card>
</main>