<h1 mat-dialog-title>Settings</h1>
<div mat-dialog-content>
  <form [formGroup]="form" fxLayout="column">
    <div class="field">
      <mat-form-field fxFlex>
        <input matInput placeholder="Polling Interval" formControlName="interval" />
      </mat-form-field>
    </div>
    <div class="field">
      <mat-checkbox class="field" fxFlex formControlName="pollingEnabled">Enable Polling</mat-checkbox>
    </div>
    <div class="field">
      <mat-checkbox class="field" fxFlex formControlName="showNotifications">Show Notifications</mat-checkbox>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</div>
