@import './theme';

html {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.flex,
%flex {
  display: flex;
}

.flex-row {
  @extend %flex;
  align-items: center;
}

.stretch {
  flex: 1 1 auto;
}
